*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {

	background-image: url(http://file.vforum.vn/hinh/2015/11/vforum.vn3-hinh-nen-xanh-cho-may-tinh-12.jpg);
}
#anh1 {
	height: 200px;
	width: 200px;
	padding: 20px;
	padding-bottom: 10px;
	border-radius: 50px;

}
#div1 {
	border:2px solid #825a43;
	width: 200px;
	margin: 50px;
	border-radius: 15px;
	background-color: white;

}


 }
 

 #dong1 b  {

 	text-align: center;
 	font-size: 21px;
 	margin-bottom: 10px;


 }

 #div2 {

	border:2px solid #825a43;
	width: 620px;
	margin: 50px;
	border-radius: 15px;
	background-color: white;
	position: absolute;
	top:70px;
	left: 300px;
	height:233px; 

}

 #div2 img {

 		padding: 30px;
 		height: 200px;
 		width: 610px;
 }
#dong1 b {
	text-align: center;
 	font-size: 21px;
 	margin-bottom: 10px;
 	margin-left: 25px;
 	color: #d8c817;
 	text-align: center;
}

h1 {

	text-align: center;
	color: #825a43;
	margin-top:30px;
}

#dong2 b{

	text-align: center;
 	font-size: 21px;
 	margin-bottom: 10px;
 	margin-left: 250px;
 	color: #d8c817;
 	text-align: center;
}


#div_3 {
	border: 3px solid #825a43;
	height: 233px;
	width: 500px;
	background-color: white;
	margin-left: 50px;
	border-radius: 30px;
}
#div_3 img {
	padding: 20px;
	
	height: 200px;
	width: 490px;
	padding-bottom: 10px;


}
#dong3 b {
	font-size: 21px;
	margin-left: 150px;
	color: #d8c817;
	margin-bottom: 10px;

}
 #div5 {
 	border: 3px solid #825a43;
	height: 233px;
	width: 350px;
	background-color: white;
	margin-left: 600px;
	border-radius: 30px;
	margin-top: -230px;

 }
 #div4 {
 	border: 3px solid #825a43;
	height: 233px;
	width: 500px;
	background-color: white;
	margin-left: 50px;
	border-radius: 30px;
	margin-bottom: 50px;

 }
 #div5 img {
 	padding: 20px;
	
	height: 200px;
	width: 340px;
	padding-bottom: 10px;
	

 }
#anh4 {
 		padding: 20px;
 		height: 200px;
		width: 490px;
		padding-bottom: 10px;

 }
 #dong5 {
 	font-size: 21px;
	margin-left: 200px;
	color: #d8c817;
	margin-bottom: 10px;
 }